<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.4" targetFramework="net45" />
  <package id="AForge.Imaging" version="2.2.4" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.4" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.4" targetFramework="net45" />
  <package id="AForge.Video.DirectShow" version="2.2.4.1" targetFramework="net45" />
  <package id="Facebook" version="6.4.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="Simple.Data.Ado" version="0.18.3.1" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.18.3.1" targetFramework="net45" />
  <package id="Simple.Data.Mysql" version="0.18.3.1" targetFramework="net45" />
</packages>